body{
margin:0;
overflow:hidden;
font-family:Arial;
background:#6e0000;
color:white;
}

#ui{
position:absolute;
top:10px;
left:10px;
background:rgba(0,0,0,0.5);
padding:15px;
border-radius:10px;
}

button{
margin-top:5px;
display:block;
width:140px;
background:#cc0000;
color:white;
border:none;
padding:6px;
cursor:pointer;
}

button:hover{
background:#ff0000;
}

canvas{
display:block;
}
